// Roots for REMs.
html {
	// Mobile.
	font-size: $root-size-mobile;

	// Fluid on tablets.
	@media only screen and (min-width: $breakpoint-mobile) {
		font-size: clamp($root-size-mobile, $root-size-tablet, $root-size-desktop);
	}

	// Desktop.
	@media only screen and (min-width: $breakpoint-desktop-large) {
		font-size: $root-size-desktop;
	}

	// Fluid (endless) on huge screens.
	@if $endless-fluid-responsiveness == true {
		@media only screen and (min-width: $breakpoint-desktop-xx-large) {
			font-size: 0.835vw;
		}
	}
}

// Normal body size.
body,
.editor-styles-wrapper,
.has-medium-font-size {
	@include font-size-medium;
}

// Small body size.
.has-small-font-size {
	@include font-size-small;
}

// Large body size.
.has-large-font-size {
	@include font-size-large;
}
