// Roots for REMs.
html {
	// Mobile.
	font-size: $root-size-mobile;

	// Fluid on tablets.
	@media only screen and (min-width: $breakpoint-mobile) {
		font-size: clamp($root-size-mobile, $root-size-tablet, $root-size-desktop);
	}

	// Desktop.
	@media only screen and (min-width: $breakpoint-desktop-large) {
		font-size: $root-size-desktop;
	}

	// Fluid (endless) on huge screens.
	@if $endless-fluid-responsiveness == true {
		@media only screen and (min-width: $breakpoint-desktop-xx-large) {
			font-size: 0.835vw;
		}
	}
}

// Normal body size.
body,
.editor-styles-wrapper,
.has-medium-font-size {
	font-size: $body-font-size-mobile-medium !important;

	@media only screen and (min-width: $breakpoint-mobile) {
		font-size: clamp($body-font-size-mobile-medium, $body-font-size-tablet-medium, $body-font-size-desktop-medium) !important;
	}

	@media only screen and (min-width: $breakpoint-desktop-xx-large) {
		font-size: $body-font-size-desktop-medium-rem !important;
	}
}

// Small body size.
.has-small-font-size {
	font-size: $body-font-size-mobile-small !important;

	@media only screen and (min-width: $breakpoint-mobile) {
		font-size: clamp($body-font-size-mobile-small, $body-font-size-tablet-small, $body-font-size-desktop-small) !important;
	}

	@media only screen and (min-width: $breakpoint-desktop-xx-large) {
		font-size: $body-font-size-desktop-small-rem !important;
	}
}

// Large body size.
.has-large-font-size {
	font-size: $body-font-size-mobile-large !important;

	@media only screen and (min-width: $breakpoint-mobile) {
		font-size: clamp($body-font-size-mobile-large, $body-font-size-tablet-large, $body-font-size-desktop-large) !important;
	}

	@media only screen and (min-width: $breakpoint-desktop-xx-large) {
		font-size: $body-font-size-desktop-large-rem !important;
	}
}
