/**
 * Buttons global style.
 *
 * @author Rareview <hello@rareview.com>
 */
@mixin button($style: "primary", $outline: "false") {
	$color: $color-primary;

	@if $style == "secondary" {
		$color: $color-secondary;
	}

	color: $color-black;
	text-transform: uppercase;
	border-radius: $border-radius-default;
	font-weight: 700;
	font-size: 1.125rem;
	background-color: $color;
	border: $border-width-default solid $color;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: $input-field-height;
	cursor: pointer;
	box-sizing: border-box;

	@if $outline == "true" {
		background-color: transparent;
		color: $color;
	}

	/* Hover. */
	&:not(:disabled, .disabled):hover {
		&,
		&:not(:disabled, .disabled) & { // if button or anchor is inside a parent element with "disabled" class or attr.
			filter: brightness(1.15);

			@if $outline == "true" {
				background-color: $color;
				border-color: $color;
				color: $color-black;
			}
		}
	}

	/* Disabled */
	&:disabled,
	&.disabled {
		&,
		&:disabled &,
		&.disabled & { // if button or anchor is inside a parent element with "disabled" class or attr.
			opacity: $disabled-opacity;
			cursor: not-allowed;
		}
	}
}

.rv-button {
	@include button;
}
