@mixin container( $max-width: $container-width, $padding: true ) {
	box-sizing: border-box;
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	@if $padding == false {
		max-width: $max-width;
		padding-left: 0;
		padding-right: 0;
	} @else {
		max-width: calc(#{$max-width} + (2 * #{$container-padding-sides}));
		padding-right: $container-padding-sides;
		padding-left: $container-padding-sides;

		&:is(ul, ol) {
			padding-left: 0;
			padding-inline-start: calc(#{$container-padding-sides} + 1.5em) !important;
		}
	}
}

.rv-container {
	@include container;
}
