@mixin page-vertical-spacing($top: true, $bottom: true) {

	@if $top == true {
		padding-top: 2.5rem;

		@media (min-width: $breakpoint-tablet) {
			padding-top: 3.75rem;
		}

		@media (min-width: $breakpoint-desktop) {
			padding-top: 5rem;
		}

		@media (min-width: $breakpoint-desktop-large) {
			padding-top: 6.25rem;
		}
	}

	@if $bottom == true {
		padding-bottom: 3.75rem;

		@media (min-width: $breakpoint-tablet) {
			padding-bottom: 5rem;
		}

		@media (min-width: $breakpoint-desktop) {
			padding-bottom: 6.25rem;
		}

		@media (min-width: $breakpoint-desktop-large) {
			padding-bottom: 7.5rem;
		}
	}
}
