/* stylelint-disable no-descending-specificity */

/**
 * Buttons block global style.
 *
 * @author Rareview <hello@rareview.com>
 */

/* Disable cursor */
.wp-element-button {
	cursor: none;
}

.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-default .wp-block-button__link {
	@include button;
}

.wp-block-button.is-style-default-outline .wp-block-button__link {
	@include button($outline: "true");
}

.wp-block-button.is-style-secondary .wp-block-button__link {
	@include button($style: "secondary");
}

.wp-block-button.is-style-secondary-outline .wp-block-button__link {
	@include button($style: "secondary", $outline: "true");
}

.block-editor-block-list__block.wp-block-buttons .wp-block-button__link {
	display: table-cell;
	vertical-align: middle;
}

/* Disabled styles. */
div.wp-block-button.disabled {
	opacity: $disabled-opacity;

	a.wp-block-button__link {
		cursor: not-allowed;

		&:hover {
			filter: brightness(1) !important;
		}
	}
}

.wp-block-button.is-style-default-outline.disabled,
.wp-block-button.is-style-secondary-outline.disabled {
	cursor: not-allowed;

	.wp-block-button__link:hover {
		pointer-events: none;
		background-color: transparent !important;
		transition-delay: 250ms;
		transition-property: color;
	}
}
