/* stylelint-disable no-descending-specificity */

/**
 * Buttons block global style.
 *
 * Makes global button styles compatible with block editor options.
 *
 * @author Rareview <hello@rareview.com>
 */

/* Disable cursor */
.wp-element-button {
	cursor: none;
}

.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-default .wp-block-button__link {
	@include button-primary;
}

.wp-block-button.is-style-default-outline .wp-block-button__link {
	@include button-primary($outline: true);
}

.wp-block-button.is-style-secondary .wp-block-button__link {
	@include button-secondary;
}

.wp-block-button.is-style-secondary-outline .wp-block-button__link {
	@include button-secondary($outline: true);
}

.block-editor-block-list__block.wp-block-buttons .wp-block-button__link {
	display: table-cell;
	vertical-align: middle;
}

/* Additional "disabled" styles for button blocks. */
div.wp-block-button.disabled,
.wp-block-button.is-style-default-white.disabled,
.wp-block-button.is-style-pill-white.disabled {
	opacity: $disabled-opacity;
	cursor: not-allowed;

	.wp-block-button__link:hover {
		pointer-events: none;
	}
}
