@mixin input-label($background: "light") {
	color: $input-light-text-color;
	margin-bottom: 0.625rem;
	display: inline-block;

	/* Dark background. */
	@if "dark" == $background {
		@include background-dark-label;
	}
}
