/* stylelint-disable scale-unlimited/declaration-strict-value */
@mixin input-text($background: "light") {
	background-color: $input-light-background-color;
	border: $input-field-border-width solid $input-light-border-color;
	border-radius: $input-field-border-radius;
	color: $input-light-text-color;
	display: flex;
	flex-wrap: wrap;
	height: $input-field-height;
	outline: none;
	padding: 8px 10px;
	margin-bottom: 16px;
	min-width: 300px;
	box-sizing: border-box;

	/* States. */
	&:disabled {
		background-color: transparent;
		border-color: $input-light-disabled-color;
		color: $input-light-disabled-color;
		cursor: no-drop;

		&:focus,
		&:active {
			border-color: $input-light-disabled-color;
		}

		&:hover {
			border-width: 1px;
		}
	}

	&:focus,
	&:active {
		border-color: color-mix(in srgb, $color-primary 50%, black) !important;
	}

	/* Dark background. */
	@if "dark" == $background {
		@include background-dark-text;
	}
}
