@mixin background-dark-radio() {
	&:checked + label::before,
	&:not(:checked) + label::before {
		border-color: $input-dark-border-color;
	}

	&:not(:checked) + label::after {
		background-color: $input-dark-border-color;
	}

	&:checked + label::after {
		background-color: $color-primary;
	}

	&.rv-focused + label::before {
		border-color: $color-primary;
	}

	+ label {
		color: $input-dark-text-color;
	}
}
