@mixin background-dark-text() {
	border-color: $input-dark-border-color;
	color: $input-dark-text-color;
	background: $input-dark-background-color;

	+ label {
		color: $input-dark-text-color;
	}

	&:focus,
	&:active {
		border-color: color-mix(in srgb, $color-primary 50%, white) !important;
	}

	/* States. */
	&:disabled {
		border-color: $input-dark-disabled-color;
		color: $input-dark-disabled-color;

		+ label {
			color: $input-dark-disabled-color;
		}

		&:focus,
		&:active {
			border-color: $input-dark-disabled-color;
		}
	}
}
