/**
 * Variables.
 *
 * NOTE: Some variables are pulling values from the theme.json
 * This is to keep them consistent with the block editor options.
 *
 * @author Rareview <hello@rareview.com>
 */

/* Various. */
$fluid-responsiveness: true;
$transition-default: 0.2s ease-out;
$input-field-height: 3.2rem;
$border-radius-default: 999px;
$border-width-default: 2px;
$disabled-opacity: 0.4;
$container-width: var(--wp--custom--layout--content-size);

/* Spacings. */
$default-content-padding: 1.2rem;
$default-content-padding-sides: 1.2rem;

/* Font. */
$rem-root-mobile: 12px;
$rem-root-tablet: 14px;
$rem-root-desktop: 16px; // This must be 16px so it corresponds with the block editor font size.
$font-family: var(--wp--custom--typography--font-family);
$font-size-small: var(--wp--preset--font-size--small);
$font-size-normal: var(--wp--preset--font-size--normal);
$font-size-large: var(--wp--preset--font-size--large);
$font-line-height: 1.3;

/* Colors - Mono. */
$color-black: var(--wp--preset--color--black);
$color-dark: var(--wp--preset--color--dark);
$color-dark-grey: var(--wp--preset--color--dark-grey);
$color-grey: var(--wp--preset--color--grey);
$color-grey-light: var(--wp--preset--color--grey-light);
$color-white: var(--wp--preset--color--white);

/* Colors - Colored. */
$color-green: var(--wp--preset--color--green);
$color-purple: var(--wp--preset--color--purple);
$color-orange: var(--wp--preset--color--orange);

/* Colors - Theme colors. */
$color-primary: $color-green;
$color-secondary: $color-purple;
$color-link: $color-orange;
$color-background: $color-black;
$color-body: $color-white;

/* Colors - Input fields - Light background. */
$color-input-bg-light-border: $color-dark-grey;
$color-input-bg-light-text: $color-dark;
$color-input-bg-light-disabled: $color-grey;
$color-input-bg-light-background: transparent;

/* Colors - Input fields - Dark background. */
$color-input-bg-dark-border: $color-white;
$color-input-bg-dark-text: $color-white;
$color-input-bg-dark-disabled: $color-dark-grey;
$color-input-bg-dark-background: transparent;

/* Responsive breakpoints. */
$breakpoint-desktop-xx-large: 1900px;
$breakpoint-desktop-x-large: 1600px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop: 1000px;
$breakpoint-tablet: 781px;
$breakpoint-gf-medium: 641px;
$breakpoint-mobile: 500px;

/* Root. */
:root {
	/* See ./assets/js/frontend/components/body-top-margin.js */
	--main-top-spacing: 150px;
}

/* Conditionally apply endless fluid responsiveness on huge screens. */
@if $fluid-responsiveness == true {
	@media (width >= 1920px) {
		:root {
			--wp--custom--layout--content-size: 74vw; /* Equivalent to 1420px at 1920px */
		}
	}
}
